<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component - Login</title>
</head>

<body>
    <mat-card class="login-card">
        <img mat-card-image src="../../assets/angular.png" alt="Angular Logo" class="logo">
        <mat-card-title>SISTEMA DE LOGIN</mat-card-title>
        <form class="example-form">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <label class="label">USUÁRIO: </label>
                            <input matInput placeholder="Usuario">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <label class="label">SENHA: </label>
                            <input matInput placeholder="Senha">
                        </mat-form-field>
                    </td>
                </tr>

            </table>
        </form>

        <mat-card-actions>

            <a mat-button href="/admin" color="warn">ENTRAR</a>
        </mat-card-actions>
    </mat-card>
    <br>


</body>

</html>