<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Efetuado com Sucesso!</title>
</head>

<body>

    <mat-card class="login-card">



        <mat-card-title>LOGOUT EFETUADO COM SUCESSO!</mat-card-title>


        <mat-card-actions>

            <a mat-button href="/">VOLTAR A TELA DE LOGIN</a>
        </mat-card-actions>
    </mat-card>
    <br>



</body>

</html>