footer{
    margin-top: 0;
    justify-content: flex-end;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;

    color: #6f6f6f;
}
footer img{
    width: 40px;
   
}